@import "variables";

.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .5rem 1rem;
  border-radius: 5rem;
  min-width: 12rem;
  margin: .5rem;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.button--white {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.button--white:hover {
  border: 2px solid #000;
  background-color: $malachite;
  color: #000;
}
.button--green {
  border: 2px solid $malachite;
  background-color: transparent;
  color: $white;
}
.button--green:hover {
  border: 2px solid $malachite;
  background-color: $malachite;
  color: $white;
}
.button--red {
  border: 2px solid #c4000e;
  background-color: transparent;
  color: #fff;
}
.button--red:hover {
  border: 2px solid #000;
  background-color: #c4000e;
  color: #000;
}
